<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Tabla_buscar.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <link rel="icon" href="../img/logobuscar32x22.png" type="imagen/x-icon">
    <title>Buscar Punto de Venta</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
        <ul class="menu_direccion">
            <li><a href="#"><i class="fab fa-pagelines rama"></i>SurtiProductos 2021</a></li>
        </ul>
    </nav>
    <main>
        <div class="Contenedor_principal">
            <div class="Contenedor_secundario">
                <div class="contenedor_buscar">
                    <label class="producto">Buscar Puesto</label>
                </div>
                <div class="barra_buscar">
                    <input class="barra" type="text" placeholder="Introduzca el codigo del Punto de Venta">
                </div>
                <div class="boton_buscar">
                    <button class="buscar" type="submit" ><span class="color-buscar icon-magnifying-glass"></span></button>
                </div> 
            </div>
        </div>
    </main>
</body>
</html>