<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Editar_personas.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <link rel="icon" href="../img/logoactualizar32x27.png" type="imagen/x-icon">
    <title>Actualizar Personas</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
        <ul class="menu_direccion">
            <li><a href="#"><i class="fab fa-pagelines rama"></i>SurtiProductos 2021</a></li>
        </ul>
    </nav>
    <main>
        <div class="Contenedor_principal">
            <table>
                <tr>
                    <th class="head1">Id Personas</th>
                    <th class="head1">Nombre</th>
                    <th class="head1"><span class="icon-pencil color_pecil"></span></th>
                </tr>
                <tr>
                    <th class="letra">100426973</th>
                    <th class="letra barra">Elian Candil</th>
                    <th class="icono"><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">119355841</th>
                    <th class="letra barra">Lina Samboni</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1002337863</th>
                    <th class="letra barra">Jerson Smith</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1004248797</th>
                    <th class="letra barra">Leidy Inchima</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1004269672</th>
                    <th class="letra barra">Natalia Rojas</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1004402263</th>
                    <th class="letra barra">Manuel Ome</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1004418839</th>
                    <th class="letra barra">Oswaldo Samboni</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">100442861</th>
                    <th class="letra barra">Dana Artunduaga</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1004492861</th>
                    <th class="letra barra">Laura Vanessa</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1006410046</th>
                    <th class="letra barra">Fernando Sarreas</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1007269672</th>
                    <th class="letra barra">Armando Cuellar Sarreas</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">1007308252</th>
                    <th class="letra barra">Jhonary Losada</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">96361787</th>
                    <th class="letra barra">Wilson Saldarriaga</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
                <tr>
                    <th class="letra">125345343</th>
                    <th class="letra barra">Jesus Calderon</th>
                    <th><span class="icon-open-book"></span></th>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>