<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/Estilos_404.css">
    <link rel="stylesheet" href="icons/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <title>Error 404</title>
</head>
<body>
    <div class="Contenedor_main">
        <div class="Contenedor_second">
            <div class="titulo_principal">
                <h1>Error 404<i class="far fa-dizzy"></i></h1>
            </div><br>
            <div class="contenedor_texto">
                <h2>Usuario no Encontrado</h2>
                <p>
                   1.Su Usuario o Contraseña esta mal escrita
                </p>
                <p>
                    2.El Usuario no se encuentra Registrado
                </p>
                <p>
                    3.Acerquese a un punto autorizado par Registrarse
                </p>
                <p>
                    4.Contacte al Desarrollados a Cargo
                </p>
            </div>
        </div>
    </div>
</body>
</html>