<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Lista_unidadesproductivas.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <title>Lista Unidades Productivas</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
    </nav>
    <main>
        <div class="Contenedor_principal">
            <table>
                <tr>
                    <th class="head1">Codigo Unidad <br> Productiva</th>
                    <th class="head1">Nombre</th>
                    <th class="head1">Id del Encargado</th>
                    <th class="head1">Mision</th>
                    <th class="head1">Vision</th>
                    <th class="head1">Descripcion</th>
                    <th class="head1">Logo</th>
                    <th class="head1">Sede</th>
                </tr>
                <tr>
                    <th class="barra letra">1</th>
                    <th class=" letra">Agricola</th>
                    <th class="barra letra">100426973</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">
                        Produccion Productos del campo organicos
                    </th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Yamboro</th>
                </tr>
                <tr>
                    <th class="barra letra">2</th>
                    <th class="letra">Agroindustria</th>
                    <th class="barra letra">119355841</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">
                        Proceso de productos lacteos y carnicos
                    </th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Yamboro</th>
                </tr>
                <tr>
                    <th class="barra letra">3</th>
                    <th class="letra">Gastronomia</th>
                    <th class="barra letra">1002337863</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra">Null</th>
                    <th class="letra describir">
                        Venta de almuerzos especiales
                    </th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra">Yamboro</th>
                </tr>
                <tr>
                    <th class="barra letra">4</th>
                    <th class="letra">Pecuaria</th>
                    <th class="barra letra">1004248797</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Yamboro</th>
                </tr>
                <tr>
                    <th class="barra letra">5</th>
                    <th class="letra">Escuela Nacional de <br> la Calidad del Cafe</th>
                    <th class="barra letra">1004269672</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Yambor</th>
                </tr>
                <tr>
                    <th class="barra letra">6</th>
                    <th class="letra">Ambiental <br>
                        Recursos Naturales
                    </th>
                    <th class="barra letra">1004402263</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Yamboro</th>
                </tr>
                <tr>
                    <th class="barra letra">7</th>
                    <th class="letra">
                        Empresa de <br> Servicio Publicos
                    </th>
                    <th class="barra letra">1004418839</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Yamboro</th>
                </tr>
                <tr>
                    <th class="barra letra">8</th>
                    <th class="letra">
                        Moda <br>
                        Comerio y Servicios
                    </th>
                    <th class="barra letra">1004492751</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra describir">Null</th>
                    <th class="letra describir">Null</th>
                    <th class="barra letra">Null</th>
                    <th class="letra">Centro</th>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>