<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Lista_compra.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <link rel="icon" href="../img/Logolista32x26.png" type="imagen/x-icon">
    <title>Lista Compra</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
        <ul class="menu_direccion">
            <li><a href="#"><i class="fab fa-pagelines rama"></i>SurtiProductos 2021</a></li>
        </ul>
    </nav>
    <main>
        <div class="Contenedor_principal">
            <table>
                <tr>
                    <th class="head1">Id Compra</th>
                    <th class="head1">Cantidad</th>
                    <th class="head1">Fecha</th>
                    <th class="head1">Id Cliente</th>
                    <th class="head1">Id Punto Venta</th>
                    <th class="head1">Valor</th>
                    <th class="head1">Id Inventario</th>
                    <th class="head1">Id Producto</th>
                </tr>
                <tr>
                    <th class="letra espacio">101</th>
                    <th class="letra">5</th>
                    <th class="letra espacio">29/08/2021</th>
                    <th class="letra">96361787</th>
                    <th class="letra espacio">213546</th>
                    <th class="letra">30.000</th>
                    <th class="letra espacio">1001</th>
                    <th class="letra">9</th>
                </tr>
                <tr>
                    <th class="letra espacio">102</th>
                    <th class="letra">2</th>
                    <th class="letra espacio">15/03/2021</th>
                    <th class="letra">1004269672</th>
                    <th class="letra espacio">589526</th>
                    <th class="letra">10.000</th>
                    <th class="letra espacio">1001</th>
                    <th class="letra">7</th>
                </tr>
                <tr>
                    <th class="letra espacio">103</th>
                    <th class="letra">5</th>
                    <th class="letra espacio">18/07/2021</th>
                    <th class="letra">1004269672</th>
                    <th class="letra espacio">589526</th>
                    <th class="letra">5.000</th>
                    <th class="letra espacio">1002</th>
                    <th class="letra">2</th>
                </tr>
                <tr>
                    <th class="letra espacio">104</th>
                    <th class="letra">1</th>
                    <th class="letra espacio">21/08/2021</th>
                    <th class="letra">125345343</th>
                    <th class="letra espacio">589526</th>
                    <th class="letra">500</th>
                    <th class="letra espacio">1003</th>
                    <th class="letra">1</th>
                </tr>
                <tr>
                    <th class="letra espacio">102</th>
                    <th class="letra">3</th>
                    <th class="letra espacio">9/04/2021</th>
                    <th class="letra">96361787</th>
                    <th class="letra espacio">213546</th>
                    <th class="letra">13.500</th>
                    <th class="letra espacio">1002</th>
                    <th class="letra">8</th>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>