<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Listar_personas.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <title>Listar Personas</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
    </nav>
    <main>
        <div class="Contenedor_principal">
            <table>
                <tr>
                    <th class="head1">Identificacion</th>
                    <th class="head1">Nombre</th>
                    <th class="head1">Direccion</th>
                    <th class="head1">Correo</th>
                    <th class="head1">login</th>
                    <th class="head1">Password</th>
                    <th class="head1">Telefono</th>
                    <th class="head1">Rol</th>
                </tr>
                <tr>
                    <th class="letra casilla">100426973</th>
                    <th class="letra">Elian Candil</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">119355841</th>
                    <th class="letra">Lina Samboni</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1002337863</th>
                    <th class="letra">Jerson Smith</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1004248797</th>
                    <th class="letra">ELeidy Inchima</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1004269672</th>
                    <th class="letra">Natalia Rojas</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1004402263</th>
                    <th class="letra">Manuel Ome</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1004418839</th>
                    <th class="letra">Oswaldo Samboni</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">100442861</th>
                    <th class="letra">Dana Artunduaga</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1004492861</th>
                    <th class="letra">Laura Vanessa</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1006410046</th>
                    <th class="letra">Fernando Sarreas</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1007269672</th>
                    <th class="letra">Armando Cuellar </th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">1007308252</th>
                    <th class="letra">Jhonary Losada</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Aprendiz</th>
                </tr>
                <tr>
                    <th class="letra casilla">96361787</th>
                    <th class="letra">Wilson Saldarriaga</th>
                    <th class="letra casilla">Cra 19-cll2</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Wilson</th>
                    <th class="letra">12345</th>
                    <th class="letra casilla">3167512637</th>
                    <th class="letra">Instructor</th>
                </tr>
                <tr>
                    <th class="letra casilla">125345343</th>
                    <th class="letra">Jesus Calderon</th>
                    <th class="letra casilla">Cll 3-Cra 12</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">Null</th>
                    <th class="letra">Null</th>
                    <th class="letra casilla">3122874654</th>
                    <th class="letra">Instructor</th>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>