<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Registrar_produccion.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <link rel="icon" href="../img/logoregistrar32x35.png" type="imagen/x-icon">
    <title>Registrar Produccion</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
        <ul class="menu_direccion">
            <li><a href="#"><i class="fab fa-pagelines rama"></i>SurtiProductos 2021</a></li>
        </ul>
    </nav>
    <main>
        <div class="registro">
            <div class="registro_tabla">
                <form>
                    <div class="titulo_principal">
                        <h1>Registrar Produccion</h1>
                    </div><br>
                    <div class="contenedor_identificacion">
                        <div class="produccion">
                            <label class="barra">Id Produccion</label>
                        </div>
                        <div class="barra_produccion">
                            <input class="barra_prod" type="number">
                        </div>
                    </div>
                    <div class="contenedor_estado">
                        <div>
                            <label class="barra">Estado Produccion</label>
                        </div>
                        <div>
                            <select>
                                <option class="barra" selected>Seleccione el Estado</option>
                                <option class="barra">Excelente</option>
                                <option class="barra">Bueno</option>
                                <option class="barra">Medio</option>
                            </select>
                        </div>
                    </div>
                    <div class="contenedor_cantidad">
                        <div>
                            <label class="barra">Cantidad</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>

                    <div class="contenedor_observacion">
                        <div class="nombre_contenedor">
                            <label class="barra observacion">Observacion</label>
                        </div>
                        <div class="barra_contenedor">
                            <textarea class="barra_observacion" id="Observacion" cols="40" rows="5">Observaciones(Max. 200 caracteres)</textarea>
                        </div>
                    </div><br>
                    <div class="contenedor_fecha">
                        <div>
                            <label class="barra">Fecha</label>
                        </div>
                        <div>
                            <input type="date" id="Fecha">
                        </div>
                    </div>
                    <div class="contenedor_codpd">
                        <div>
                            <label class="barra">Codigo Producto</label>
                        </div>
                        <div>
                            <input type="number">
                        </div>
                    </div>
                    <div class="contenedor_codunipo">
                        <div>
                            <label class="barra">Codigo Unidad Productiva</label>
                        </div>
                        <div>
                            <input class="codunipo" type="number">
                        </div>
                    </div>
                    <div class="contenedor_boton">
                        <div class="boton_accion">
                            <button class="boton">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>