<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/Registrar_personas.css">
    <link rel="stylesheet" href="css/menu-vertical.css"><!-- Estilos de Menu -->
    <link rel="stylesheet" href="icons/all.css">
    <script src="js/menu-vertical.js"></script>
    <link rel="icon" href="../img/logoregistrar32x35.png" type="imagen/x-icon">
    <title>Registrar Personas</title>
</head>
<body>
    <header>
        <div class="boton-hamburguer">
            <label class="icono-menu" onclick="MostrarMenu();"><i class="fas fa-bars"></i></label>
        </div>
        <div class="titulo-empresa">
           <div class="senaEmpresa"></div> <Span class="sena">SENA</Span><span class="empresa">Empresa</span>
        </div>
        <div class="ingreso-persona">
            <label class="icon-user"></label>
            <label>Wilson</label>
        </div>
    </header>
    <nav id="menu-principal">
        <ul class="menu">
            <li><a href="/Home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/Main_productos"><i class="fas fa-tags"></i>Productos</a></li>
            <li><a href="/Main_produccion"><i class="fas far fa-clipboard"></i>Produccion</a></li>
            <li><a href="/Unidadesproductivas"><i class="fas fa-warehouse"></i>Unidades Productivas</a></li>
            <li><a href="/Personas"><i class="fas fa-users"></i>Personas</a></li>
            <li><a href="/Unidadmedida"><i class="fas fa-ruler"></i> Unidad Medida</a></li>
            <li><a href="/Tipoempaque"><i class="fas fa-boxes"></i>Tipo Empaque</a></li>
            <li><a href="/Detallecompra"><i class="fas far fa-edit"></i>Detalles de Compra</a></li>
            <li><a href="/Compra"><i class="fas fa-shopping-cart"></i>Compra</a></li>
            <li><a href="/Puntoventa"><i class="fas fa-store"></i>Punto Venta</a></li>
        </ul>
        <hr class="space-option">
        <ul class="menu_direccion">
            <li><a href="#"><i class="fab fa-pagelines rama"></i>SurtiProductos 2021</a></li>
        </ul>
    </nav>
    <main>
        <div class="registro">
            <div class="registro_tabla">
                <form>
                    <div class="titulo_principal">
                        <h1>Registrar Personas</h1>
                    </div><br>
                    <div class="identificacion_persona">
                        <div>
                            <label class="barra">Identificacion</label>
                        </div>
                        <div>
                            <input type="number">
                        </div>
                    </div>
                    <div class="nombre_persona">
                        <div>
                            <label class="barra">Nombre y Apellido</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="direccion_persona">
                        <div>
                            <label class="barra">Direccion</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="correo_persona">
                        <div>
                            <label class="barra">Correo</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="login_persona">
                        <div>
                            <label class="barra">Login</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="pass_persona">
                        <div>
                            <label class="barra">Password</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="telefono_persona">
                        <div>
                            <label class="barra">Telefono</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div class="especialidad_persona">
                        <div>
                            <label class="barra">Rol</label>
                        </div>
                        <div>
                            <select class="medida_rol">
                                <option class="barra" selected>Seleccione el Rol</option>
                                <option class="barra">Administrador</option>
                                <option class="barra">Instructor</option>
                                <option class="barra">Aprendiz</option>
                                <option class="barra">Visitante</option>
                            </select>
                        </div>
                    </div>
                    <div class="contenedor_boton">
                        <div class="boton_accion">
                            <button class="boton">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>