*{
    padding: 0;
    margin: 0;
}
.Contenedor_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 40vh;
}
.head1{
    background-color: rgb(192, 205, 26);
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px; 
}
.letra{
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
}
.barra{
    background-color: whitesmoke;
    border-radius: 5px;
}