*{
    margin: 0;
    padding: 0;
}
/* Inicio de codigo de Menu */
nav {
    background-color: rgb(13, 143, 67);
    position: absolute;
    height: 100%;
    padding-right: 2em;
    z-index: 10;
    left: -20em;
    top: 7.5em;    /* Altura del menu de arriba hacia abajo */
    transition: all .5s;
    /* overflow: scroll; */ /* Esto sirve para generar una barrita desplazadora de arriba a abajo */
}
.menu {
    list-style: none;
    line-height: 60px;
    margin: 1em auto 0 auto;
    width: 16em;
    padding-left: .1em;
}
.menu_direccion{
    list-style: none;
    line-height: 60px;
    margin: 1em auto 0 auto;
    width: 16em;
    padding-left: .1em;
}
.menu_direccion a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    display: block;
    padding-left: 1.5em;
    width: 100%;
    transition: all .2s
}
.menu a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    padding-left: 1.5em;
    width: 100%;
    transition: all .2s;
}
.menu li {
    box-shadow: 3px 0 rgb(164, 198, 78) inset;
    padding-left: .8em;
    margin-bottom: 5px;
    transition: all .5s;
}
.menu li:hover {
    background-color: rgb(164, 198, 78);
}
.menu a:hover {
    margin-left: 1em;
}
.fas {
    color: white;
    font-size: 1.3em;
    padding-right: .3em;
}
.rama{
    font-size: 1em;
    margin-left: 15px;
}
.fa-bars {
    z-index: 20;
    position: absolute;
    color: white;
}
label.icono-menu {
    position: absolute;
    z-index: 20;
    top: 50px;
    left: 40px;
    cursor: pointer;
}
nav.mostrarNav {
    left: 0;
}
/* Encabezado */
header{
    background-color: rgb(13, 143, 67);
    min-height: 100px;
    display: flex;     /* Para que los elementos se muestren de manera horizontal */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.sena{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(87, 87, 86,);
}
.empresa{
    font-family: 'Ubuntu', sans-serif;
}
.senaEmpresa{
    background-image: url('../img/LogoEmpresaeditado90x50.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90px;
    height: 68px;
    background-color: rgb(13, 143, 67);
}
.ingreso-persona{
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 40px;
    padding: 10px;
}
/* Barra de menu */
.space-option{
    width: 250px;
    margin-left: 16px;
    height: 1px!important;
    color: #d9e2e8;
    background-color: #d9e2e8;
    border: none;
}
