*{
    padding: 0;
    margin: 0;
}
.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 65vh;
}
.registro_tabla{
    border-radius: 5px;
    border: 1px solid black; 
    width: 680px;
}
.titulo_principal{
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.barra{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.id_producto, .nombre_producto, .descripcion_producto{
    display: inline-block;
}
.estado_producto, .stock_producto, .valor_producto{
    display: inline-block;
}
.reserva_producto, .unidadpod_producto, .unidadme_producto{
    display: inline-block;
}
.tipoempa_producto, .imagen_producto{
    display: inline-block;
}
.estado{
    width: 166.4px;
}
.id_producto,.estado_producto,.reserva_producto,.tipoempa_producto{
    margin-left: 20px;
}
.id_producto, .nombre_producto, .descripcion_producto, .estado_producto, .stock_producto, .valor_producto, .reserva_producto, 
.unidadme_producto, .tipoempa_producto, .imagen_producto{
    padding: 10px;
    width: 180px;
    height: 45px;
}
.unidadpod_producto{
    padding: 10px;
    width: 198px;
    height: 45px;
}
.productiva{
    width: 190px;
}
.boton_accion{
    padding: 10px;
    text-align: center;
}
.contenedor_boton{
    padding: 10px;
}
.boton{
    margin: 0 auto;
    background: greenyellow;
    font-size: 1em;
    border: none;
    color: black;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}